<div class="cont">
    <form class="login" [formGroup]="formLogin" (ngSubmit)="enviar()">
        <h3>Iniciar Sesión</h3>
        <p>Inicie sesión ingresando su dirección de correo electrónico y contraseña.</p>
        <div class="input">
            <label for="user">Correo Electrónico</label>
            <i class="material-icons left">mail</i>
            <input type="email" id="user" class="input_form" placeholder="ejemplo@gmail.com" formControlName="email">
            <!-- <div class="encontrarError" *ngIf="hasErrors('email','required')"></div> -->
        </div>
        <div class="input">
            <label for="password">Contraseña</label>
            <i class="material-icons left">lock</i>
            <input type="password" id="password" class="input_form" placeholder="●●●●●●●●●●●" formControlName="pass">
            <i class="material-icons right" id="eye">visibility</i>
            <!-- <div class="encontrarError" *ngIf="hasErrors('required','')"></div> -->
        </div>
        <div class="boton">
            <!-- <a routerLink="homeAdmin">Aceptar</a> -->
            <button type="submit" class="btn">Aceptar</button>
        </div>
        <p class="registro">¿No tienes cuenta? <a routerLink="/reg_usuario">Regístrate Aquí</a></p>
    </form>
</div>