<div class="cont">
    <form class="login"  [formGroup]="formRegUsu"> <!--action="../home-admin/home-admin.component.html"-->
        <h3>Crea tu cuenta</h3>
        <div class="input icons">
            <label for="nom_ape">Nombre y Apellido</label>
            <i class="material-icons left">edit</i>
            <input type="text" id="nom_ape" class="input_form" placeholder="Adis Ortiz" formControlName="nomComplet">
            <div class="error" *ngIf="hayError('nomComplet','required')">Nombre Completo Requerido</div>
        </div>
        <div class="input icons">
            <label for="email">Correo Electrónico</label>
            <i class="material-icons left">mail</i>
            <input type="email" id="email" class="input_form" placeholder="ejemplo@gmail.com" formControlName="correo">
            <div class="error" *ngIf="hayError('correo','required')">Correo Electronico Requerido</div> <!--hayError es un metodo-->
            <div class="error" *ngIf="hayError('correo','email')">Correo Electronico Invalido</div>
        </div>
        <div class="input icons">
            <label for="password">Contraseña</label>
            <i class="material-icons left">lock</i>
            <input type="password" id="password" class="input_form" placeholder="●●●●●●●●●●●" formControlName="contra">
            <i class="material-icons right" id="eye">visibility</i>
            <div class="error" *ngIf="hayError('contra','required')">Contraseña Requerida</div>
            <div class="error" *ngIf="hayError('contra','minlength')">La contraseña debe tener minimo 5 caracteres</div>
        </div>
        <div class="boton">
            <input type="submit" class="btn" value="Aceptar">
        </div>
        <p>Al crear una cuenta, usted acepta los Términos de servicio y la Política de privacidad.</p>
        <p class="registro">¿Ya tienes una cuenta? <a routerLink="" target="">Inicia Sesión Aquí.</a></p>
    </form>
</div>