<div class="cont">
    <nav>
        <div class="left">
            <span class="material-icons arroba">alternate_email</span>
            <h4>Biblioteca_Desarrollo_Web</h4>
        </div>
        <div class="right">
            <a href="gestionar_recursos.html" class="link_gest"><span class="material-icons">add</span>Gestionar Recursos</a>
            <span class="material-icons perfil" id="perfil-icon">account_circle</span>
            <div class="menu" id="menu">
                <div class="menu-item">Nombre</div>
                <div class="menu-item">Rol</div>
                <div class="menu-item cerrar-sesion">Cerrar Sesión</div>
            </div>
        </div>
    </nav>
    <header>
        <h2>¿Cómo podemos ayudarle?</h2>
        <input type="text" class="buscar" placeholder="Buscar">
    </header>
    <section class="cont">
        <!-- Con el ngFor se crea un bucle que con la variable listRec se recorre a recursoList que es de tipo listaRecurso donde está toda la información -->
        <div class="card" *ngFor="let listRec of recursoList">
            <a [routerLink]="['/recurso',listRec.id]">
                <img src="{{listRec.img}}" class="card__img" alt="Imagen de HTML">
                <h5 class="card__title">{{ listRec.subtitle }}</h5>
                <p class="card_desc">{{ listRec.subdescrip }}</p>
            </a>
        </div>
    </section>
    <footer>
        <div class="footer">
            <h6 class="footer__title">Necesitas Ayuda?</h6>
            <input type="button" value="Contáctanos" class="footer__btn">
        </div>
        <div class="footer">
            <h6 class="footer__title">Atención al cliente</h6>
            <p class="footer__desc">Devoluciones y garantias</p>
            <p class="footer__desc">Pagos</p>
            <p class="footer__desc">Envío</p>
        </div>
        <div class="footer">
            <h6 class="footer__title">Información corporativa</h6>
            <p class="footer__desc">Sobre nosotros</p>
            <p class="footer__desc">Marcas</p>
            <p class="footer__desc">Afiliados</p>
        </div>
        <div class="footer">
            <img src="../Imagenes/redes_sociales.png" alt="" class="footer__img">
        </div>
    </footer>
</div>